extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/products-table.css")

block content
    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-warning Ürün Güncellendi.
    
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün Silindi.

    .productPageCartBg.p-4
        div(class="panel panel-default panel-table")
        div(class="panel-heading")
            div(class="row")
                div(class="col col-xs-6")
                    h2(class="panel-title").mb-3
                        b Toplam Ürün Sayısı: #{products.length}

        if products.length > 0
            table.table.table-striped.table-list
                        
                tbody
                    each product in products
                        tr
                            td
                                img(src=`/img/${product.imageUrl[0]}` width='120')
                                
                            td
                                b.text-primary #{product.name}
                                h5.mt-3
                                    b.text-success #{product.price} TL
                                    br
                                    span
                                        b.text-info Ekleyen: 
                                        b 
                                            em #{product.userId.name} #{product.userId.surname}
                                    br
                                    span 
                                        b.text-info Telefon:  
                                        b 
                                            em #{product.phoneOfSeller}
                                    br
                                    span 
                                        b.text-info E-mail:  
                                        b 
                                            em #{product.userId.email}

                            td
                                a(href=`/admin/all-products/${product._id}` data-toggle="tooltip" data-placement="top" title="İncele").btn.btn-default
                                    em(class="far fa-eye fa-lg")
                            td
                                form(action="/admin/delete-all-products" method="POST" onSubmit="return confirm('Silmek istediğinden emin misin?') ").d-inline
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    input(type="hidden" name="productid" value=`${product._id}`)
                                    button(type="submit" data-toggle="tooltip" data-placement="top" title="Ürünü Sil").btn.btn-danger
                                        em(class="fas fa-trash-alt")
                                
        else
            h1 Gösterilecek ürün bulunamadı.