extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/products-table.css")

block content
    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-warning Ürün Güncellendi.
    
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün Silindi.

    div(class="panel panel-default panel-table")
    div(class="panel-heading")
        div(class="row")
            div(class="col col-xs-6")
                h2(class="panel-title") Toplam Ürün Sayısı: #{products.length}

    if products.length > 0
        table.table.table-striped.table-bordered.table-list
            thead
                tr
                    th(style="width: 120px;") Resmi    
                    th(style="width: auto;") Ürün adı
                    th(style="width: auto;") Fiyatı 
                    th(style="width: auto;") Ekleyen
                    th(style="width: auto;") Tel No
                    th(style="width: auto;") Email
                    th(style="width: auto; text-align:center;")
                        em(class="fa fa-cog")
                    
            tbody
                each product in products
                    tr
                        td
                            img(src=`/img/${product.imageUrl}` width='120')
                            
                        td.hidden-xs.text-uppercase #{product.name}
                        td #{product.price} TL
                        td #{product.userId.name} #{product.userId.surname}
                        td #{product.phoneOfSeller}
                        td #{product.userId.email}
                        td.mr-0.ml-0.pr-0.pl-0
                            a(href=`/admin/all-products/${product._id}` data-toggle="tooltip" data-placement="top" title="İncele").btn.btn-default
                                em(class="far fa-eye fa-lg")

                            form(action="/admin/delete-all-products" method="POST" onSubmit="return confirm('Silmek istediğinden emin misin?') ")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type="hidden" name="productid" value=`${product._id}`)
                                button(type="submit" data-toggle="tooltip" data-placement="top" title="Ürünü Sil").btn.btn-danger
                                    em(class="fas fa-trash-alt")
                            
    else
        h1 Gösterilecek ürün bulunamadı.