extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/products-table.css")

block content
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün onaylanmadı ve kullanıcıya mail gönderildi.
    
    if (action !== 'undefined' && action === 'confirm')
        div.alert.alert-warning Ürün onaylandı.
    h1 Toplam: #{products.length}
    if products.length > 0
        table.table.table-list.productPageCartBg       
            tbody
                each product in products
                    tr
                        td(width="80")
                            img(src=`/img/${product.imageUrl[0]}` width='120')
                            
                        td.hidden-xs(width="auto")
                            b.text-primary  #{product.name}
                            br
                            h4.mt-3.mb-2
                                b #{product.price} TL
                            span Ekleyen: 
                                b #{product.userId.name} #{product.userId.surname}
                            br
                            span Adet: 
                                b #{product.productQuantity}
                            br
                            b 
                                em #{product.isSecondHand}

                        td(width="100")
                            a(href=`/admin/confirmation/${product._id}` data-toggle="tooltip" data-placement="top" title="İncele").btn.btn-default.mt-5
                                em(class="far fa-eye fa-lg")
                        td(width="100")
                            form(action="/admin/delete-confirmation" method="POST" onSubmit="return confirm('Silmek istediğinden emin misin?') ").mt-5
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type="hidden" name="productid" value=`${product._id}`)
                                button(type="submit" data-toggle="tooltip" data-placement="top" title="Reddet").btn.btn-danger
                                    em(class="fas fa-minus-circle")
                            
    else
        h1 Onaylanacak ürün bulunamadı.


    //-if products.length > 0
        table.table.table-bordered.table-hover
            thead.thead-dark
                tr
                    th(style="width: 100px;") Resim
                    th Ürün Adı
                    th(style="width: 150px;") Fiyatı
                    th Ürünü Ekleyen Kişi
                    th(style="width: 150px;")
            tbody
                each product in products
                    tr
                        td
                            img(src=`/img/${product.imageUrl}` width='80')
                        td #{product.name}
                        td #{product.price} TL
                        td #{product.userId.name}
                        td 
                            a.btn.btn-warning.btn-sm.mr-2(href=`/admin/confirmation/${product._id}`) İncele

                            form(action="/admin/delete-confirmation" method="POST" onSubmit="return confirm('Onaylamak istemediğinden emin misin?') ")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type="hidden" name="productid" value=`${product._id}`)
                                button(type="submit").btn.btn-danger.btn-sm Reddet
    //-else
        h1 Henüz onaylanacak ürün yok.