extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/forms.css")

block content
    form(action="/admin/all-products" method="POST" enctype="multipart/form-data" onSubmit="return confirm('Onaylamak istediğinden emin misin?') ")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="id" value=`${product._id}`)
        
        .form-group.row
            label(for="userid").col-sm-2.col-form-label UserId
            .col-sm-10
                input.form-control#userid(type="text" name="userid" value=`${product.userId._id}`)

        .form-group.row
            label(for="name").col-sm-2.col-form-label Ürün Adı:
            .col-sm-10
                input.form-control#name(type="text" name="name" value=`${product.name}`)  

        .form-group.row
            label(for="price").col-sm-2.col-form-label Fiyatı:
            .col-sm-10
                input.form-control#price(type="text" name="price" value=`${product.price}`) 

        .form-group.row
            label(for="price").col-sm-2.col-form-label İkinci El:
            .col-sm-10
                select(class="form-select custom-select" name="isSecondHand")#isSecondHand
                    option(value=`${product.isSecondHand}`).selected #{product.isSecondHand}

        .form-group.row
            label(for="imageUrl").col-sm-2.col-form-label Ürün Resmi:
            .col-sm-10
                img(src=`/img/${product.imageUrl}` width="100")
                input#image(type="text" name="image" value=`${product.imageUrl}`).ml-2

        .form-group.row
            label(for="categoryid").col-sm-2.col-form-label Ürün Kategorisi:
            .col-sm-10
                each category in categories
                    div
                        input(type="checkbox" name="categoryids" value=`${category._id}` checked=category.selected)
                        |  #{category.name}

        .form-group.row
            label(for="description").col-sm-2.col-form-label Ürün Açıklaması:
            .col-sm-10
                textarea.form-control(id="editor" cols="95" rows="10" name="description") #{product.description}
    
        h2 Satıcı Bilgileri 
        hr

        .form-group.row
            label(for="nameOfSeller").col-sm-2.col-form-label Satıcı Adı:
            .col-sm-10
                input.form-control#nameOfSeller(type="text" name="nameOfSeller" value=`${product.nameOfSeller}`)
        
        .form-group.row
            label(for="phoneOfSeller").col-sm-2.col-form-label Satıcı İrtibat Numarası:
            .col-sm-10
                input.form-control#phoneOfSeller(type="text" name="phoneOfSeller" value=`${product.phoneOfSeller}`)

        .form-group.row
            label(for="mailOfSeller").col-sm-2.col-form-label Satıcı Emaili:
            .col-sm-10
                input.form-control#mailOfSeller(type="text" name="mailOfSeller" value=`${product.mailOfSeller}`)

        .form-group.d-inline-block.mt-2
                a(href="/admin/confirmation" data-toggle="tooltip" data-placement="top" title="İptal Et").btn.btn-warning
                    i(class="fas fa-long-arrow-alt-left")

        .form-group.d-inline-block
            button(type="submit" data-toggle="tooltip" data-placement="top" title="Ürünü Onayla").btn.btn-success.pl-2.ml-1
                i(class="fas fa-check")

                

block script
    script(src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js")
    script(src="/js/script.js")