.area.container-fluid
    .container-fluid
        .row 
            .col-12
                nav(class="navbar navbar-expand-lg navbar-light")
                    div(class="container-fluid")
                        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")
                        
                        div(class="collapse navbar-collapse justify-content-around" id="navbars")
                            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                                each category in categories
                                    li(class="nav-item dropdown menu-area")
                                        a(class="nav-link" href="#" id="mega-one " role="button" data-toggle="dropdown" aria-expanded="false") #{category.name}
                                
                                        div(class="dropdown-menu mega-area" aria-labelledby="mega-one")
                                            .row 
                                                each subcategory in subcategories
                                                    -var subcategoryCategories = `${subcategory.categories}`
                                                    if category._id == subcategoryCategories
                                                        .col-lg-3.subsubMenuStyle
                                                            h5.d-block
                                                                b #{subcategory.name}
                                                                hr
                                                                .subsubCategoryStyle
                                                                    each subsubcategory in subsubcategories
                                                                        -var subsubcategoryCategories = `${subsubcategory.categories}`
                                                                        if subcategory._id == subsubcategoryCategories
                                                                            a(href=`/categories/${subsubcategory._id}` class="dropdown-item subsubStyle") #{subsubcategory.name}