.area.container-fluid
    .container-fluid
        .row 
            .col-12
                nav.navbar.navbar-expand-xl.navbar-light
                    .container-fluid
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars").border-0
                            span.navbar-toggler-icon
                        
                        div(class="collapse navbar-collapse justify-content-around" id="navbars")
                            ul.nav.navbar-nav.mx-auto.mb-2.mb-lg-0
                                each category in categories
                                    li(class="nav-item dropdown menu-area")
                                        a(class="nav-link" href="#" id="mega-one " role="button" data-toggle="dropdown" aria-expanded="false").categoryNameStyle #{category.name}
                                
                                        div(class="dropdown-menu mega-area" aria-labelledby="mega-one")
                                            .row 
                                                each subcategory in subcategories
                                                    -var subcategoryCategories = `${subcategory.categories}`
                                                    if category._id == subcategoryCategories
                                                        .col-lg-3.subsubMenuStyle
                                                            h5.d-block
                                                                strong #{subcategory.name}
                                                                hr
                                                                .subsubCategoryStyle
                                                                    each subsubcategory in subsubcategories
                                                                        -var subsubcategoryCategories = `${subsubcategory.categories}`
                                                                        if subcategory._id == subsubcategoryCategories
                                                                            a(href=`/categories/${subsubcategory._id}` class="dropdown-item subsubStyle")
                                                                                i #{subsubcategory.name}
                                                                                    