nav.navbar.navbar-expand-xl.navbar-light.fixed-top.navbar-inverse.p-0
    .container
        
        img(src="/img/garavolli.png" width="40").mr-2
        a(href="/").navbar-brand.mr-4 Garavolli
            
        button(type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar")
            span.navbar-toggler-icon
            img(src="/img/emu_logo.png" width="40").ml-2

        //- span.text-secondary.mr-0.pr-0.mr-1
        //-     i(class="fas fa-people-carry fa-lg").mr-1
        //-     | İkinci Elde 
        //-     span.font-weight-bold 1. 
        //-     |Tercih

        div(class="vr")
        
        div(class="collapse navbar-collapse" id="myNavbar")
            ul.nav.navbar-nav.mr-auto
                li.nav-item
                    a(href="/", class=(path === '/'?'nav-link active p-3':'nav-link p-3')) Anasayfa

                //- li.nav-item
                //-     a(href="/products", class=(path === '/products'?'nav-link active p-3':'nav-link p-3')) Ürünler

                if isAuthenticated
                    //- Sepet ve siparişler linkleri
                    //- li.nav-item
                    //-     a(href="/cart", class=(path === '/cart'?'nav-link active p-3':'nav-link p-3')) Sepet

                    //- li.nav-item
                    //-     a(href="/orders", class=(path === '/orders'?'nav-link active p-3':'nav-link p-3')) Siparişler
                    
                
                    li.nav-item
                        a(href="/admin/choose-category", class=(path==='/admin/choose-category'?'nav-link active p-3':'nav-link p-3')) Ürün Ekle

                    li.nav-item
                        a(href="/admin/products", class=(path==='/admin/products'?'nav-link active p-3':'nav-link p-3')) Ürünlerim

                if isAdmin
                    li.nav-item.dropdown
                        a(class=(path==="#"?"nav-link dropdown-toggle active p-3":'nav-link dropdown-toggle p-3') data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false").dropDownStyle Admin Paneli
                        div.dropdown-menu.mt-0
                            a(href="/admin/add-category", class=(path==='/admin/add-category'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Ana Kategori Ekle
                            a(href="/admin/add-sub-category", class=(path==='/admin/add-sub-category'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Alt Kategori Ekle
                            a(href="/admin/add-sub-sub-category", class=(path==='/admin/add-sub-sub-category'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle En Alt Kategori Ekle
                            a(href="/admin/categories", class=(path==='/admin/categories'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Kategoriler
                            div(class="dropdown-divider")
                            a(href="/admin/confirmation", class=(path==='/admin/confirmation'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Onaylama
                            div(class="dropdown-divider")
                            a(href="/admin/all-products", class=(path==='/admin/all-products'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Tüm Ürünler
                            a(href="/admin/all-users", class=(path==='/admin/all-users'?'dropdown-item active bg-secondary':'dropdown-item')).px-5.py-2.dropDownStyle Tüm Kullanıcılar
                            
            ul.nav.navbar-nav.navbar-right
                div(class="topnav").mr-4.my-auto                      

                li.nav-item
                    div(class="")
                        a.nav-link.text-info(href="/contact" data-toggle="tooltip" data-placement="top" title="İletişim").p-3
                            i(class="fas fa-envelope fa-lg")
                            p(class="giriş-text").d-inline.ml-1 İletişim
                
                if isAuthenticated

                    //- li.nav-item
                    //-     a.nav-link.text-info(href="/account/profile" data-toggle="tooltip" data-placement="top" title="Profile Git").p-3
                    //-        <i class="fas fa-user"></i>

                    li.nav-item
                        div(class="")
                            a.nav-link.text-danger(href="/logout" data-toggle="tooltip" data-placement="top" title="Çıkış Yap").p-3
                                i(class="fas fa-sign-out-alt fa-lg")
                                p(class="giriş-text").d-inline.ml-1 Çıkış Yap

                    
                else
                    li.nav-item
                        div(class="")
                            a.nav-link.text-success(href="/login" data-toggle="tooltip" data-placement="top" title="Giriş Yap").p-3
                                i(class="far fa-user fa lg ")
                                p(class="giriş-text").d-inline.ml-1 Giriş Yap | Üye Ol
                            
                    //- li.nav-item
                    //-     a.nav-link.text-warning(href="/register").p-3
                    //-         |Üye Ol
            img(src="/img/emu_logo.png" width="40").ml-2

//- .area.container-fluid
//-     .container-fluid 
//-         .row 
//-             .col-12
//-                 nav(class="navbar navbar-expand-lg navbar-light")
//-                     div(class="container-fluid")
//-                         button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation")
//-                             span(class="navbar-toggler-icon")
                        
//-                         div(class="collapse navbar-collapse justify-content-around" id="navbars")
//-                             ul(class="navbar-nav me-auto mb-2 mb-lg-0")
//-                                 each category in categories
//-                                     li(class="nav-item dropdown menu-area")
//-                                         a(class="nav-link" href="#" id="mega-one " role="button" data-toggle="dropdown" aria-expanded="false") #{category.name}
                                
//-                                         div(class="dropdown-menu mega-area" aria-labelledby="mega-one")
//-                                             .row 
//-                                                 each subcategory in subcategories
//-                                                     -var subcategoryCategories = `${subcategory.categories}`
//-                                                     if category._id == subcategoryCategories
//-                                                         .col-lg-2.subsubMenuStyle
//-                                                             h5.d-block
//-                                                                 b #{subcategory.name}
//-                                                                 hr
//-                                                                 each subsubcategory in subsubcategories
//-                                                                     -var subsubcategoryCategories = `${subsubcategory.categories}`
//-                                                                     if subcategory._id == subsubcategoryCategories
//-                                                                         a(href=`/categories/${subsubcategory._id}` class="dropdown-item subsubStyle") #{subsubcategory.name}

                                                
                                
                            