mixin createProduct(product)
    div.col-md-3.mt-0.mb-3
        div.product-grid6
            div.product-image6
                a(href=`/products/${product._id}`)
                    img(src=`/img/${product.imageUrl}` alt=`${product.description}` ).pic-1
            div.product-content
                h4.title
                    a(href=`/products/${product._id}`).text-uppercase #{product.name}
                    div.price.mt-1
                        i.fas.fa-lira-sign #{product.price}

            ul.social
                li
                    a(href=`/products/${product._id}` data-tip="İncele")
                        i(class="fa fa-search")
                //- Sepete ekle butonu ve çalışma mantığı..
                //- li    
                //-     form(action="/cart" method="POST" id="cartForm")
                //-         input(type="hidden" name="_csrf" value=`${csrfToken}`)
                //-         input(type="hidden" name='productId' value=`${product._id}`)
                //-         a(href="#" data-tip="Sepete Ekle" onclick='this.parentNode.submit(); return false;')
                //-             i(class="fas fa-cart-plus")