mixin createProduct(product)
    div.col-md-4.mt-0.mb-3.pt-2
        div.product-grid6.p-2
            div.product-image6
                a(href=`/products/${product._id}`)
                    img(src=`/img/${product.imageUrl[0]}` alt=`${product.description}` ).pic-1
            div.product-content
                h6.title
                    a(href=`/products/${product._id}`).text-uppercase.text-dark 
                        b.text-dark #{product.name}
                        
                hr.m-0
                div.price.mt-2
                    if product.productQuantity
                        i.fas.fa-lira-sign #{product.price}
                    else 
                        p.text-warning TÜKENDİ!

            ul.social
                li
                    a(href=`/products/${product._id}` data-tip="İncele")
                        i(class="fa fa-search")
                //- Sepete ekle butonu ve çalışma mantığı..
                if product.productQuantity
                    li  
                        form(action="/cart" method="POST" id="cartForm")
                            input(type="hidden" name="productQuantityDetail" value="1")
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            input(type="hidden" name='productId' value=`${product._id}`)
                            a(href="#" data-tip="Sepete Ekle" onclick='this.parentNode.submit(); return false;')
                                i(class="fas fa-cart-plus")