extends ../layouts/main-layout.pug

block megaMenu 
    include ../includes/menu.pug
block styles
    link(rel="stylesheet" href="/css/product-detail.css")

block content
    .row
        .col-lg-12.mt-3.alert.alert-light.productDeteailShadow
            each subsubcategory in subsubcategories
                -var productCategories = `${product.categories}`
                -var subsubcategoryCategories = `${subsubcategory.categories}`
                    if productCategories == `${subsubcategory._id}`
                        each subcategory in subcategories 
                            -var subcaregoryCategories = `${subcategory.categories}`
                            if subsubcategoryCategories == `${subcategory._id}`
                                each category in categories
                                    if subcaregoryCategories == `${category._id}`
                                        a().btn.btn-link.text-muted.p-0 #{category.name} > 
                                        a().btn.btn-link.text-muted.p-0 #{subcategory.name} >
                                        a(href=`/categories/${subsubcategory._id}`).btn.btn-link.text-info.p-0 
                                            u #{subsubcategory.name} Kategorisi
                                        a().btn.btn-link.text-muted.p-0 > #{product.name}
    .row
        .col-lg-6.pt-3.alert.alert-light.productDeteailShadow
            .container.d-flex.justify-content-center.productDetailimageArea#zoom
                img(src=`/img/${product.imageUrl[0]}` id="expandedImg" onclick="myFunction(this);" data-zoom-image="/img/1.jpg").img-fluid
            .productDetailMultiPicture.mt-1
                if product.imageUrl.length == 1
                    .column
                        img(src=`/img/${product.imageUrl[0]}` onclick="myFunction(this);").img-fluid

                if product.imageUrl.length == 2
                    .column
                        img(src=`/img/${product.imageUrl[0]}` onclick="myFunction(this);").img-fluid
                    .column.ml-2
                        img(src=`/img/${product.imageUrl[1]}` onclick="myFunction(this);").img-fluid

                if product.imageUrl.length == 3
                    .column
                        img(src=`/img/${product.imageUrl[0]}` onclick="myFunction(this);").img-fluid
                    .column.ml-2
                        img(src=`/img/${product.imageUrl[1]}` onclick="myFunction(this);").img-fluid
                    .column.ml-2    
                        img(src=`/img/${product.imageUrl[2]}` onclick="myFunction(this);").img-fluid

                if product.imageUrl.length == 4
                    .column.bg-muted
                        img(src=`/img/${product.imageUrl[0]}` onclick="myFunction(this);").img-fluid
                    .column
                        img(src=`/img/${product.imageUrl[1]}` onclick="myFunction(this);").img-fluid
                    .column    
                        img(src=`/img/${product.imageUrl[2]}` onclick="myFunction(this);").img-fluid
                    .column
                        img(src=`/img/${product.imageUrl[3]}` onclick="myFunction(this);").img-fluid

        .col-lg-6.pt-3.alert.productContent.productDeteailShadow
            h5.mb-3.text-uppercase.font-weight-bold #{product.name}
            hr
            p
                b İlan Tarihi: 
                | #{product.date.toDateString()}
            p
                b İkinci El: 
                if `${product.isSecondHand}` == 'İkinci El'
                    | Evet
                else
                    |Hayır
            p
            .mb-3
                h2.text-success.mb-3 
                    i.fas.fa-lira-sign #{product.price}
                //- Ürün detayı sayfasındaki sepete ekle butonu ve çalışma fonksiyonu..
                form(action="/cart" method="POST")
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    input(type="hidden" name='productId' value=`${product._id}`)
                    button(type="submit" data-toggle="tooltip" data-placement="top" title="Sepete Ekle").btn.btn-primary.btn-lg
                        i(class="fas fa-cart-plus")
        

    .row.mt-3
        .col-md-6.alert.alert-light.text-dark.productDeteailShadow
            h2.font-weight-bold.mt-3 Ürün Bilgileri
            hr
            p.p-3.productInformationStyle !{product.description}
        
        .col-lg-6.pl-3.alert.productContent.productDeteailShadow
            h2.font-weight-bold.mt-3 Satıcı Bilgileri
            hr
            p 
                b İlçe: 
                |#{product.city}
            p 
                b Satıcı İsmi: 
                |#{product.nameOfSeller}
            p 
                b Satıcı Numarası: 
                |#{product.phoneOfSeller}
            p 
                b Satıcı Emaili: 
                |#{product.mailOfSeller}

block script
    script(src="/js/product-detail.js")
            