extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/profile.css")
    link(rel="stylesheet" href="/css/products-table.css")

block megaMenu 
    include ../includes/menu.pug

block content
    .container.emp-profile
        .row
            //- .col-md-4
            //-     .profile-img
            //-         img(src='https://via.placeholder.com/140x100' alt='')
            if (action !== 'undefined' && action === 'waiting')
                div.alert.alert-success.container-fluid Ürününüz onay için beklemede. En kısa zamanda dönüş yapılacaktır. Bizi seçtiğiniz için teşekkürler..
            if (action !== 'undefined' && action === 'delete')
                div.alert.alert-danger.container-fluid Ürün Silindi.
            if (action !== 'undefined' && action === 'edit')
                div.alert.alert-info.container-fluid Ürününüz güncelleme için onaya gönderildi. En yakın zamanda dönüş yapılacaktır. Teşekkürler..
            if (action !== 'undefined' && action === 'buySuccess')
                div.alert.alert-primary.container-fluid Tebrikler ödeme işlemini başarıyla tamamladınız. Siparişlerim sekmesinden ürünlerinizi takip edebilirsiniz..
            .col-md-10
                
                .profile-head
                    h2 
                        b #{user.name} #{user.surname}
                    h6
                        b Garavolli Üyesi
                    h6.text-success
                        b Puan : 
                        span 
                            b 8 / 10
            .col-md-2
                a(href="/edit-profile" class="btn btn-sm btn-outline-primary btn-create").mt-1 Profili Düzenle 
                    i(class="fas fa-pencil-alt")
                a(href="/admin/choose-category" class="btn btn-sm btn-outline-success btn-create").mt-1
                    |Yeni Ürün 
                    i(class="fas fa-plus")

        ul#myTab.nav.nav-tabs(role='tablist').mt-3.mb-3
            li.nav-item
                a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Hesap Bilgisi
            li.nav-item
                a#products-tab.nav-link(data-toggle='tab' href='#products' role='tab' aria-controls='profile' aria-selected='false') Ürünlerim
            li.nav-item
                a#orders-tab.nav-link(data-toggle='tab' href='#orders' role='tab' aria-controls='profile' aria-selected='false') Siparişlerim       
        .row
            .col-md-12
                #myTabContent.tab-content.profile-tab
                    #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                        .row
                            .col-md-6
                                label İsim
                            .col-md-6
                                p #{user.name}
                        .row
                            .col-md-6
                                label Soyisim
                            .col-md-6
                                p #{user.surname}
                        
                        .row
                            .col-md-6
                                label Email
                            .col-md-6
                                p #{user.email}
                        
                        .row
                            .col-md-6
                                label Satışta olan ürün sayısı
                            .col-md-6
                                p #{products.length}

                        .row
                            .col-md-6
                                label Sipariş Sayısı
                            .col-md-6
                                p #{orders.length}
                        
                        if isAdmin
                            hr
                            h3.mb-3 
                                b
                                    u Site Bilgileri:                 
                            .row
                                .col-md-6         
                                    label Toplam kullanıcı sayısı: 
                                .col-md-6
                                    p.text-success #{userNumber.length}

                            .row
                                .col-md-6
                                    label Toplam ürün sayısı: 
                                .col-md-6
                                    p.text-success #{allproducts.length}

                            .row
                                .col-md-6
                                    label Ana kategori sayısı: 
                                .col-md-6
                                    p.text-success #{categories.length}

                            .row
                                .col-md-6
                                    label Kategori sayısı: 
                                .col-md-6
                                    p.text-success #{subcategories.length}

                            .row
                                .col-md-6
                                    label En alt kategori sayısı: 
                                .col-md-6
                                    p.text-success #{subsubcategories.length}

                            .row
                                .col-md-6
                                    label Toplam Sipariş sayısı: 
                                .col-md-6
                                    p.text-success #{allorders.length}
                                    
                            .row
                                .col-md-6
                                    label Toplam onay bekleyen ürün: 
                                .col-md-6
                                    p.text-success #{confirm.length}

                    #products.tab-pane.fade(role='tabpanel' aria-labelledby='products-tab')
                        if products.length > 0
                            table.table.table-list.table-hover
                                tbody
                                    each product in products
                                        tr(height="175px")
                                            td
                                                img(src=`/img/${product.imageUrl[0]}` width='80')
                                            
                                            td.hidden-xs.text-uppercase 
                                                b.text-primary #{product.name}
                                                br
                                                h5.mt-3.mb-0 
                                                    b.text-success #{product.price} TL

                                            td.d-flex.align-items-center
                                                a(href=`/admin/products/${product._id}` data-toggle="tooltip" data-placement="top" title="Ürünü Düzenle").btn.btn-default.d-inline
                                                    em(class="fas fa-edit fa-lg")
                                                    
                                            td
                                                form(action="/admin/delete-product" method="POST" onSubmit="return confirm('Silmek istediğinden emin misin?') ").d-inline
                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                    input(type="hidden" name="productid" value=`${product._id}`)
                                                    button(type="submit" data-toggle="tooltip" data-placement="top" title="Ürünü Kaldır").btn.btn-danger
                                                        em(class="fas fa-trash-alt")
                                                        
                        else
                            h1 Henüz satılacak ürününüz yok.

                    #orders.tab-pane.fade(role='tabpanel' aria-labelledby='orders-tab')
                        if orders.length > 0 
                            each order in orders
                                .card.mb-5
                                    .card-header
                                        h3 Sipariş numarası: ##{order._id}
                                    table.table.table-hover
                                        thead.thead-dark
                                            tr
                                                th(width="800px") Ürün Adı
                                                th Fiyatı
                                                th Miktarı
                                                th Durum
                                        tbody
                                            each item in order.items
                                                tr
                                                    td #{item.product.name}
                                                    td(style="text-align:center;") #{item.product.price}
                                                    td(style="text-align:center;") #{item.quantity}
                                                    td(style="width: auto; text-align:center;") Kargoda
                                        tfoot
                                            tr
                                                td(colspan="2") #{order.date}
                                                td(style="text-align:center;")
                                                    b.text-success Toplam:
                                                - var total = 0;
                                                each item in order.items
                                                    - total += (item.product.price * item.quantity)
                                                td(style="text-align:center;")
                                                    b.fas.fa-lira-sign.text-success #{total}

                        else
                            h1 Henüz sipariş vermemişsiniz.


block script
    script(src="/js/profile.js")
    script(src="/js/script.js")